volumes

# Swagger docs - Not committed to main - generated on container build
src/docs/*

# IDEs
.idea
*.log
.vscode

# In case use local volumes
mongodb

# ETL updated file - should always be

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

output/
# C extensions
*.so

# Distribution / packaging
.pytest_cache
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/src/bin/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
/.run/

# ginkgo
*.coverprofile
